<ion-header>
  <ion-toolbar>
    <ion-title>Publicar Nuevo Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider style="font-size: 18px; color: #2A5C98; background-color: #F7F7F7;">
      <ion-label>CARACTERÍSTICAS DEL ANUNCIO</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Fecha de expiración</ion-label>
      <ion-datetime placeholder="Seleccione la fecha" displayFormat="DD MM YYYY" date="YYYY-MM-DD" #fecha></ion-datetime>
    </ion-item>

    <ion-item-group>
      <ion-radio-group value="grape" #email>
        <ion-list-header style="font-size: 16px;">
          <ion-label>Mostrar e-mail de contacto:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>

    <ion-item-group>
      <ion-radio-group value="grape" #telefono>
        <ion-list-header style="font-size: 16px;">
          <ion-label>Mostrar telefono de contacto:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>

  <ion-item-group>
      <ion-radio-group value="grape" #direccion>
        <ion-list-header style="font-size: 16px;">
          <ion-label>Mostrar dirección de contacto:</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="success" value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="tertiary" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>


      <ion-item-divider style="font-size: 18px; color: #2A5C98; background-color: #F7F7F7;">
        <ion-label>DATOS DEL ANUNCIO</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="floating">Título del anuncio</ion-label>
        <ion-input #titulo></ion-input>
      </ion-item>

    <ion-item>
      <ion-label>Oficio</ion-label>
      <ion-select ok-text="Seleccionar" cancel-text="Cancelar" #oficio>
        <ion-select-option *ngFor="let oficio of oficios" [value]="oficio.id">{{oficio.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción de tareas</ion-label>
      <ion-textarea placeholder="placeholder" #descripcion></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pago</ion-label>
      <ion-input placeholder="Minimo" #minimo></ion-input>
      <ion-input placeholder="Máximo" #maximo></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Departamento</ion-label>
      <ion-select ok-text="Seleccionar" cancel-text="Cancelar" (ionChange)="getCiudades($event)" (click)="limpiarCiudadDistrito()" #idDepartamento>
        <ion-select-option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-select ok-text="Seleccionar" cancel-text="Cancelar" [(ngModel)]="selectIdCiudades" (ionChange)="getDistritos($event)" (click)="limpiarDistrito()" #idCiudad>
        <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Distrito</ion-label>
      <ion-select ok-text="Seleccionar" cancel-text="Cancelar" [(ngModel)]="selectIdDistritos" #idDistrito>
        <ion-select-option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <section>
    <ion-button expand="block" color="warning" style="color:black" (click)="guardarNuevoAnuncio(fecha, email, telefono, direccion, titulo, oficio, descripcion, minimo, maximo, idDepartamento, idCiudad, idDistrito)"><b>Publicar</b></ion-button>
  </section>

</ion-content>
